{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "@typescript-eslint", "prettier"],
  "env": {
    "node": true,
    "browser": true,
    "jasmine": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all"
      }
    ],
    "react/prop-types": 0,
    "react/no-array-index-key": "error",
    "@typescript-eslint/prefer-interface": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-non-null-assertion": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.8.6"
    }
  },
  "parser": "@typescript-eslint/parser"
}
