# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Webstorm
.idea

# Deployment
dist

# Docs
.styleguidist

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store

# caches
.rts2_cache_esm

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.docz
