# Webstorm
.idea

# testing
/coverage
/jest
**/*.md

# misc
.DS_Store

# caches
.rts2_cache_esm

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.docz

# essentials
.git
.github
.circleci
node_modules
.eslintrc

